*{
    margin: 0;
    padding: 0;
}

.testimonios_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    width: 100%;
}

.box_testimonios{
   width: 500px;
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1); 
   background-color: white;
   padding: 20px;
   margin: 15px;
   cursor: pointer;
}

.perfil{
    display: flex;
    align-items: center;
}

.name_user{
    display: flex;
    flex-direction: column;
}

.name_user strong{
    color: rgb(4, 18, 4);
    font-size: 3.rem;
}

.name_user span{
    color: gray;
}

.box_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comentarios{
    color: brown;
}